body {
    background-color: #9B0C23;
    font-family: 'Ubuntu', sans-serif;
}
.logo {
    max-width: 270px;
    width: 100%;
    margin:  1em auto 2em;
  }

#id>img {
    align-items: center;
}

.main{
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit, .btn-primary {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

.dropdown-item {
    cursor: pointer;
}
a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

p {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #000000;
    text-decoration: none
}

.card {
    max-width: 400px;
    width: 100%;
    margin:  1em auto 2em;
}

.jumbotron, h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

h5{
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}

  label{
    padding-top: 1em;
    font-family: 'Ubuntu', sans-serif;
    color:#9B0C23;
    font-weight: bold;
  }
  .form-row{
      margin-bottom: 1em;
      justify-content: flex-end;
  }

  .submit-button, .reset-button, .add_button, .learnMore{
    cursor: pointer;
    border-radius: 5em;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 5px;
    border: 0;
    background: #9B0C23;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .order-button,.close-button{
    cursor: pointer;
    border-radius: 5em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 5px;
    border: 0;
    background: rgb(67,66,65);
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  .submit-button:hover, .reset-button:hover, 
  #search-button:hover, #validationImage:hover, 
  .add_button:hover, .learnMore:hover{
    background: hsl(40, 68%, 94%);
    color: #000000;
    border: 2px solid black;
}

.order-button:hover, .close-button:hover{
    background:rgb(0, 55, 100);
    color: #fff8f8;
    border: 2px solid black;
}
#pAmount {
    margin-left: 10px;
}
#search-button, #validationImage {
    background: #9B0C23;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    box-shadow: none;

}

#modal-bod>img{
    margin-left: 3em;
}

.buttons{
    display: flex;
    justify-content: right;
    padding: 5px;
}

#sbar, .input-group-text, .modal-body{
    font-family: 'Ubuntu', sans-serif;
}
@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}
.pointer {
    cursor: pointer;
}
.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.prefix{
    width: 40px;
}

.zone {
    
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.grid-wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}

.box>img{
    width: 100%;
}

.box{
    grid-column: span 3;
    grid-row: 100%;
    background-color:rgb(211,204,189);
    padding: 20px;
    margin: 30px;
    width: 250px;
    
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
